<h1>Redes sociales más usadas</h1>
<hr>

<div  *ngIf="doughnutChartData.length === 0; else divGrafica"
      class="alert alert-info">
    Cargando Data...
</div>

<div class="row">
    <ng-template  #divGrafica>
        <div class="col">
            <div style="display: block">
                <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="colors">
                </canvas>
            </div>
        </div>
        <span class="float-end text-primary">
            Información en billones de usuarios
        </span>
    </ng-template>
</div>

